<link href="/styles/footer.css" rel="stylesheet" type="text/css">
<link href="/styles/global.css" rel="stylesheet" type="text/css">

<footer>
  <p>&copy; Copyright 2022</p>
  <a href="https://www.hancodes.ca" target="_blank">Stephen Han</a>
</footer>