<link href="/styles/navbar.css" rel="stylesheet" type="text/css">

 <ul class="nav justify-content-center">
  <li class="nav-item nav-custom">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item nav-custom">
    <a class="nav-link" href="/register">Register</a>
  </li>
  <li class="nav-item nav-custom">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item nav-custom">
    <a class="nav-link" href="/urls_index">URLs</a>
  </li>
</ul>
 