<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/_header') %>
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <title>TinyApp | Home</title>
</head>

<body>

  <div class="row">
    
    <div class="main-wrapper">

      <div class="row">

          <div class="section-wrapper">

            <div class="nav-wrapper">
              <%- include('../partials/_nav') %>
            </div>

            
              <div class="form-content">

                  <div class="form-items">

                      <div class="form-title">

                        <h3>Logged in as: <%= username %></h3>

                      </div>
                      
                      <div>
                        <p> Welcome to main page... </p>
                      </div>

                  </div>
              </div>
              <%- include('../partials/_footer') %>

          </div>
      </div>
  </div>

  </div>



</body>

</html>