<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/_header') %>
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <title>TinyApp | Home</title>
</head>

<body>

  <div class="row">
    
    <div class="main-wrapper">

      <div class="row">

          <div class="section-wrapper">

            <div class="nav-wrapper">
              <%- include('../partials/_nav') %>
            </div>

            
              <div class="form-content">

                  <div class="form-items">

                      <div class="form-title">
                        <h3>Welcome</h3>
                      </div>
                        <span><%= errorMsg %>"</spa>
                      <div class="form-title">
                        <p>To see more. Please <a href="http://localhost:8080/login">login</a> or <a href="http://localhost:8080/register">register</a></p>
                      </div>

                  </div>
              </div>
              <%- include('../partials/_footer') %>

          </div>
      </div>
  </div>

  </div>



</body>

</html>