<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_header') %>
  <title>TinyApp | New URL</title>

</head>




<body>

  <div class="row">

    <div class="main-wrapper ">

      <div class="row">

        <div class="section-wrapper">

          <div class="nav-wrapper">
            <%- include('../partials/_navMember') %>

          </div>

          <main>

            <div class="form-content">

              <div class="form-items">

                <div class="form-title">
                  <h3>Create Short URL...</h3>
                </div>

                <form class="requires-validation" action="/urls_new" method="POST">

                  <div class="col-md-12">
                    <input class="form-control" type="text" placeholder="Enter a URL" name="enteredURL" required>
                  </div>

                  <div class="form-button mt-4 d-grid col-6 mx-auto">
                    <button id="submit" type="submit" class="btn btn-primary">Create</button>
                  </div>
                </form>

              </div>
            </div>
            <%- include('../partials/_footer') %>

        </div>
      </div>
    </div>

  </div>



</body>

</html>