<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_header') %>
    <link href="/styles/theme.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="row">

    <div class="main-wrapper ">

      <div class="row">

        <div class="section-wrapper">

          <div class="nav-wrapper">
            <%- include('../partials/_nav') %>

          </div>

          <main>

            <div class="form-content">

              <div class="form-items">

                <div class="form-title">
                  <h3>Edit URL for <%=  urls.shortURL %>
                  </h3>
                </div>

                <!-- GOT HELP: https://getbootstrap.com/docs/5.0/forms/validation/ -->
                <form class="requires-validation" action="/method="POST">

                  <div class="col-md-12">
                    <input class="form-control" type="text" placeholder="Enter a URL" name="enteredURL" required>
                  </div>

                  <div class="form-button mt-4 d-grid col-6 mx-auto">
                    <button id="submit" type="submit" class="btn btn-primary">Create</button>
                  </div>
                </form>

              </div>
            </div>
            <%- include('../partials/_footer') %>

        </div>
      </div>
    </div>

  </div>



</body>

</html>