
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.section-wrapper .form-content {
position: relative;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}

.nav-wrapper{
border: 5px dashed yellow;
border-radius: 20px;
width: 100%;
}